<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
     {% load static %}
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <form method="POST" class="post-form" action="{% url 'student' %}">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Registration Students</h3>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Enter Name:</label>
                <div class="col-sm-4">
                    {{ form.name }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-4">
                    {{ form.email_id }}
                 </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Mobile Number:</label>
                <div class="col-sm-4">
                    {{ form.mobile_number }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Age:</label>
                <div class="col-sm-4">
                    {{ form.age }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Gender:</label>
                <div class="col-sm-4">
                    {{ form.gender }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Address:</label>
                    <div class="col-sm-4">
                        {{ form.address }}
                    </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Photo:</label>
                <div class="col-sm-4">
                  {{ form.photo }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Previous Class:</label>
                <div class="col-sm-4">
                  {{ form.previous_class }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Session Year:</label>
                <div class="col-sm-4">
                  {{ form.session_year }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Current Class:</label>
                <div class="col-sm-4">
                  {{ form.current_class }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Current Session Year:</label>
                <div class="col-sm-4">
                  {{ form.current_session_year }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>